.container_about {
    background-image: url("imagens/oceano1.webp");
    background-size: cover;
    height: 100%;
}
.content-about {
    margin-left: var(--padding-var);
    margin-right: var(--padding-var);
    
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;

    background-color: rgb(255, 255, 255, 0.9);
    height: 100%;

    overflow: hidden;
}
.background-about {  
    height: 100%;
}

.about-title {
    width: 100%;
    border-bottom: 1px solid black;
    margin-bottom: 2rem;
}
.lista {
    margin-bottom: 1rem;
}
.lista-title {
    margin-bottom: 1rem;
}
.lista-item {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 1px solid black;
    border-radius: .5rem;
    overflow: hidden;
    width: 97%;
    box-shadow: 0 0  3rem rgb(0, 0, 0, 0.35);
}
.lista-item_text {
    background-color: rgb(255, 255, 255, 0.3);
    padding: 1rem 1rem 5rem 1rem;
    height: 100%;
    font-weight: 500;
    font-size: larger;
}