.navbar-container {
    padding-left: var(--padding-var);
    padding-right: var(--padding-var);

    align-items: center;
    background-color: rgba(184, 184, 184, 0.9);
    box-shadow: 0 1rem 1rem rgb(0, 0, 0, 0.15);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;

    margin-bottom: 1rem;
}

.navbar_logo {
    margin: 0 3rem 0 1rem;
    transition-duration: 0.3s;
    font-size: xx-large;
    color: black;
}

.navbar_logo:hover {
    color: rgb(60, 60, 60);
    transform: scale(1.1);
}

.navbar_item {
    margin: 1rem;
    padding: 10px;
    width: 7rem;

    border: 1px solid;
    border-color: rgb(49, 49, 90);
    border-radius: 10px;
    box-shadow: 0 0 5px 0 var(--shadow-color);
    color: rgb(28, 28, 28);
    
    text-align: center;
    text-decoration: none;
    transition-duration: 0.3s;
}

.navbar_item:hover{
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 10px 0 var(--shadow-color);
    transform: scale(1.1);
}